// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../config' as *;

// styles for main buttons
.btn--primary {
  // i don't think this the right background colour
  background: $accent-gradient;
  border: none;
  color: $neutral;
  padding: 0.8em 5em;
  border-radius: 2em;
  font-size: 0.7rem;
  font-weight: weight('semi-bold');
}