/**
 * Basic typography style for copy text
 */

@use '../config' as *;

// Raleway and Open Sans fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

body {
  font-family: $font-2;
  font-weight: weight('regular');
  font-size: $base-size;
}

.header__links,
h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: $font-1;
}